###############################################################
#
# Ignore Mac DS_Store files
# @author: Archie Makuwa (Archie22is)
###############################################################

.DS_Store
**/.DS_Store

